 <!-- <div class="row">
    <div class="col-md-2">
      <p>
        Search:
        <input ng-model="$ctrl.query" />
      </p>

      <p>
        Sort by:
        <select ng-model="$ctrl.orderProp">
          <option value="name">Alphabetical</option>
          <option value="age">Newest</option>
        </select>
      </p>
    </div>
    <div class="col-md-10">
 --> 
<ul class="matches">
	<li ng-repeat="match in $ctrl.matches" class="thumbnail match-list-item">
		<div class="container">
			<div class="row">
				<div class="col-lg-4"><h4>{{match.Timestamp | date:'dd/MM/yyyy @ HH:mm:ss'}}</h4></div>
		  	</div>
		  	<div class="row">
		  		<div class="col-md-1 col-xs-offset-1" style="padding:0px">
		     		<div class="short-div"><img class="" ng-src="{{$ctrl.hostteam.imageUrl}}" alt="{{$ctrl.hostteam.id}}" /></div>
		      		<div class="short-div"><img clas="" ng-src="{{$ctrl.guestteam.imageUrl}}" alt="{{$ctrl.guestteam.id}}" /></div>
		    	</div>	
	    		<div class="col-md-4" style="padding:0px">
		      		<div class="short-div">{{$ctrl.hostteam.name}}</div>
		      		<div class="short-div">{{$ctrl.guestteam.name}}</div>
		   		</div>  	
		    	<div class="col-xs-1" style="padding:0px">
	      			<div class="short-div">{{match.HostGoals}}</div>
		      		<div class="short-div">{{match.GuestGoals}}</div>
		    	</div>
		    	<div class="col-xs-1 vcenter"><div class="vertical-line" style="height: 50px;"></div></div>
		    	<div class="col-md-1 vcenter"><input class="betinp" type="text" name="fname" size="1"></div>
			</div>
		</div>
	</li>
</ul>