/* Animate `ngRepeat` in `matchList` component */
.match-list-item.ng-enter,
.match-list-item.ng-leave,
.match-list-item.ng-move {
  overflow: hidden;
  transition: 0.5s linear all;
}

.match-list-item.ng-enter,
.match-list-item.ng-leave.ng-leave-active,
.match-list-item.ng-move {
  height: 0;
  margin-bottom: 0;
  opacity: 0;
  padding-bottom: 0;
  padding-top: 0;
}

.match-list-item.ng-enter.ng-enter-active,
.match-list-item.ng-leave,
.match-list-item.ng-move.ng-move-active {
  height: 120px;
  margin-bottom: 20px;
  opacity: 1;
  padding-bottom: 4px;
  padding-top: 15px;
}

/* Animate view transitions with `tabs-view` tabs */
.tabs-view {
  margin-top: 20px;
}

.tabs-view.ng-show,
.tabs-view.ng-hide {
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.tabs-view.ng-show {
  animation: 0.6s fade-in;
  z-index: 100;
}

.tabs-view.ng-hide {
  animation: 0.6s fade-out;
  z-index: 99;
}

@keyframes fade-in {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fade-out {
  from { opacity: 1; }
  to   { opacity: 0; }
}

/* Older browsers might need vendor-prefixes for keyframes and animation! */
