body {
  padding: 50px;
  margin: 15px;
}

#main-content { 
	padding-top: 50px;
}


/* text recolor */
h1, p, a {
  color: #4DC9C9 !important;
}

/* button recolor */
.nav-pills > li.active > a, .btn-primary {
  background-color: #6C6C6C !important;
  // feeling like it's a rounded corners kind of day
  border-color: #6C6C6C !important;
  border-radius: 25px; 
}

hr {
    display: block;
    height: 1px;
    border: 1;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.matches {
  list-style: none;
}

.matches li {
  clear: both;
  height: 100px;
}

div.vertical-line{
      width: 0px;
	  height: 100%;
      float:right;
      border: 1px inset;
}

.thumb {
  padding-left: 2em;	
}

.matchup {
  padding-left: 1em;
}

