<!doctype html>
<html lang="en" ng-app="soccerApp">
  <head>
	<meta charset="utf-8">
    <title>Soccer Bet</title>
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="app.animations.css" />
	<link rel="stylesheet" href="banner.css" />

	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-animate.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-resource.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-route.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-cookies.min.js"></script>-->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    
    <script src="app.module.js"></script>
    <script src="app.config.js"></script>
    <script src="app.animations.js"></script>
    
	<script src="app-services/core.module.js"></script>
	<script src="app-services/user.module.js"></script>
	<script src="app-services/user.service.js"></script>
	<!-- 
	<script src="app-services/authentication.module.js"></script>
	<script src="app-services/authentication.service.js"></script>
	-->
    <script src="app-services/flash.module.js"></script>
    <script src="app-services/flash.service.js"></script>

	
    <script src="match-list/match-list.module.js"></script>
    <script src="match-list/match-list.component.js"></script>
	<script src="tabs/tabs.module.js"></script>
    <script src="tabs/tabs.component.js"></script>
	
	<script src="login-user/login-user.module.js"></script>
	<script src="login-user/login-user.component.js"></script>
	<script src="register-user/register-user.module.js"></script>
	<script src="register-user/register-user.component.js"></script>
	<script src="home-user/home-user.module.js"></script>
	<script src="home-user/home-user.component.js"></script>


  </head>
  <body>  
    <div id="banner">
		<div id="banner-content-middle">
		    Hallo User {{$rootScope.username}}.
			<div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message">Flash Service</div>
		</div>
		<!-- <div class="dropdown banner-content-right">
			<button class="dropbtn">Logon</button>
			<div class="dropdown-content">
				<input class="logoninput" type="text" name="cupuser">
				<div class="loginbtn-container"><button class="loginbtn">Login</button></div>
			</div>
		</div> -->
	</div>
	
	
  	<div class="row" ng-controller="TabsController">
	  	<div class="col-md-2">
	  		<ul class="nav nav-pills nav-stacked">
	       	<li ng-class="{ active: isSet(1) }">
	       		<a href="#!/home" class="btn btn-link" ng-click="setTab(1)">Home</a>
	       	</li>
	       	<li ng-class="{ active: isSet(2) }">
	       		<a href="#!/login" class="btn btn-link" ng-click="setTab(2)">Login</a>
	       	</li>
	       	<li ng-class="{ active: isSet(3) }">
	       		<a href="#!/register" class="btn btn-link" ng-click="setTab(3)">Register</a>
	       	</li>
	       	<li ng-class="{ active: isSet(4) }">
	       	    <a href="#!/matches" class="btn btn-link" ng-click="setTab(4)">Matches</a>
	       	</li>
	     	</ul>
	  	</div>
	    <div class="col-md-10">
	  		<div class="jumbotron">
	  				<div ng-view></div>
	       		<!-- <div ng-show="isSet(1)">
	         	 	<h1>Login</h1>
	         	 	<login-user></login-user>
	         	 	<!-- <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p> 
	        	</div>
				<div ng-show="isSet(2)">
	          		<h1>Register</h1>
	          		<register-user></register-user>
	          		<p>Profile information</p>
	     		</div>
	        	<div ng-show="isSet(3)">
	        		<h1>Matches</h1>
	        	    <match-list></match-list>
	     		</div> -->
	  		</div>  
	  	</div>
	</div>
	

	
	<!-- <div class="container-fluid">
	</div>
	 -->
	<!-- <div class="view-container">
		<div ng-view class="view-frame"></div>
	</div>
	 -->
  </body>
</html>
