<div id="banner">
	<div id="banner-content-middle">
	    Hallo User {{vm.user.firstName}}.
		<div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message">Flash Service</div>
	</div>
	<div class="banner-content-right">
		<p><a href="#!/login" class="btn btn-primary">Logout</a></p>
	</div>
</div>
<h1>Hi {{vm.user.firstName}}!</h1>
<p>You're logged in!!</p>
<h3>All registered users:</h3>
<ul>
    <li ng-repeat="user in vm.allUsers">
        {{user.username}} ({{user.firstName}} {{user.lastName}})
        - <a ng-click="vm.deleteUser(user.id)">Delete</a>
    </li>
</ul>
<p>&nbsp;</p>